@charset "UTF-8";
.test {
  max-width: 68.75rem;
}

/* media */
@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}
/* keyframe */
@keyframes wd-typing {
  from {
    width: 0;
  }
  to {
    width: 15.625rem;
  }
}
@keyframes bk-caret {
  from, to {
    border-color: rgba(0, 0, 0, 0);
  }
  50% {
    border-color: #a7a7a7;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 애니메이션 */
[data-motion=slide-up] {
  transform: translateY(1.875rem);
  -webkit-transform: translateY(1.875rem);
  opacity: 0;
}

[data-motion=slide-down] {
  transform: translateY(-1.875rem);
  -webkit-transform: translateY(-1.875rem);
  opacity: 0;
}

[data-motion=slide-left] {
  transform: translateX(-1.875rem);
  -webkit-transform: translateX(-1.875rem);
  opacity: 0;
}

[data-motion=slide-right] {
  transform: translateX(1.875rem);
  -webkit-transform: translateX(1.875rem);
  opacity: 0;
}

[data-motion=scale-up] {
  text-align: center;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  opacity: 0.9;
}

[data-motion=scale-down] {
  text-align: center;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  opacity: 0.9;
}

[data-motion=fade-in] {
  opacity: 0;
}

/* 바로팔기 */
.pageTitle {
  padding: 0 1.5625rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.pageTitle strong {
  display: block;
  font-weight: 700;
}

.apEasySell {
  width: 100%;
  height: auto;
  max-width: 32rem;
  /* 인트로 */
  /* 판매 전 확인 */
}
.apEasySell hr {
  position: relative;
  left: 50%;
  width: 100vw;
  border: 0;
  margin: 3.125rem 0;
  transform: translateX(-50%);
}
.apEasySell hr.space {
  height: 0.5rem;
  background-color: #F5F6F8;
}
.apEasySell hr.line {
  height: 0.0625rem;
  background-color: #e6e6e6;
}
.apEasySell .btnWrap {
  padding: 0 1.5625rem;
  display: flex;
}
.apEasySell .btnWrap.flexNone {
  display: block;
}
.apEasySell .btnWrap.flexNone .btn ~ .btn {
  margin-top: 0.9375rem;
}
.apEasySell .btnWrap .btn {
  flex: 1;
  position: relative;
  display: block;
  height: 3.75rem;
  border-radius: 0.3125rem;
  background-color: #000;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 3.75rem;
  letter-spacing: -0.01875rem;
  color: #fff;
}
.apEasySell .btnWrap .btn.arr::after {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: 50%;
  width: 0.875rem;
  height: 0.875rem;
  margin-top: -0.4375rem;
  background: url("../images/easySell/icon_arr.png") no-repeat center/0.5625rem auto;
}
.apEasySell .btnWrap .btn.base {
  background-color: #0096ff;
  color: #fff;
}
.apEasySell .btnWrap .btn.prev {
  flex: none;
  width: 7.1875rem;
  margin-right: 0.625rem;
}
.apEasySell .btnWrap .btn.prev::after {
  left: 1.125rem;
  right: auto;
  transform: rotate(180deg);
}
.apEasySell .btnWrap .btn.disabled {
  pointer-events: none;
  background-color: #ccc;
}
.apEasySell .review .tit {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #000;
}
.apEasySell .review .tit strong {
  font-weight: 700;
}
.apEasySell .review .subTit {
  margin-top: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #000;
}
.apEasySell .review .subTit strong {
  font-weight: 700;
}
.apEasySell .review .allView {
  display: block;
  height: 2.8125rem;
  margin-top: 1.375rem;
  border: 0.0625rem solid #007FFD;
  border-radius: 0.3125rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.6875rem;
  color: #007FFD;
}
.apEasySell .review .allView::after {
  content: "";
  display: inline-block;
  vertical-align: -0.125rem;
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.25rem;
  background: url("../images/easySell/icon_arr_blue.png") no-repeat center/0.4375rem auto;
}
.apEasySell .review .reviewWrap {
  padding-top: 2.5rem;
}
.apEasySell .review .reviewWrap .swiper-wrapper .swiper-slide {
  width: 65%;
}
.apEasySell .review .reviewWrap .pagination {
  margin-top: 1.875rem;
  text-align: center;
  line-height: 0;
}
.apEasySell .review .reviewWrap .pagination span {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0;
  border-radius: 100%;
  background-color: #efefef;
  opacity: 1;
}
.apEasySell .review .reviewWrap .pagination span[class*=active] {
  background-color: #0096ff;
}
.apEasySell .review .reviewWrap .pagination span ~ span {
  margin-left: 0.3125rem;
}
.apEasySell .review .reviewWrap .thumbnail {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.apEasySell .review .reviewWrap .thumbnail a {
  display: block;
  background: url("https://m.autoplus.co.kr/resources/images/marketing/epilogue/img_epilogue_default_thumb.png") no-repeat center/cover;
}
.apEasySell .review .reviewWrap .thumbnail a::before {
  content: "";
  display: block;
  padding-top: 9.1875rem;
}
.apEasySell .review .reviewWrap .cont {
  margin-top: 1rem;
}
.apEasySell .review .reviewWrap .cont .infoTop {
  display: flex;
  align-items: center;
}
.apEasySell .review .reviewWrap .cont .grade-view {
  font-size: 0;
}
.apEasySell .review .reviewWrap .cont .grade-view > strong {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.apEasySell .review .reviewWrap .cont .grade-view .star span {
  display: inline-block;
  vertical-align: middle;
  width: 0.9375rem;
  height: 0.9375rem;
  background: url("../images/easySell/icon_rating.png") no-repeat center/0.9375rem auto;
}
.apEasySell .review .reviewWrap .cont .grade-view .star span.full {
  background-image: url("../images/easySell/icon_rating_full.png");
}
.apEasySell .review .reviewWrap .cont .grade-view .num {
  margin-left: 0.3125rem;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 0.9375rem;
  color: #007FFD;
}
.apEasySell .review .reviewWrap .cont .name {
  flex: 1;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #000;
}
.apEasySell .review .reviewWrap .cont .name span {
  font-weight: 700;
}
.apEasySell .review .reviewWrap .cont .subject {
  margin-top: 0.9375rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: -0.025rem;
  color: #000;
}
.apEasySell .review .reviewWrap .cont .summary {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.3125rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.025rem;
  color: #000;
}
.apEasySell .review .reviewWrap .cont .date {
  margin-top: 0.5rem;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.0125rem;
  color: #999;
}
.apEasySell.intro > .section {
  position: relative;
  width: 100%;
  padding: 0 1.5625rem;
  overflow: hidden;
}
.apEasySell.intro > .section .tit {
  position: relative;
  z-index: 2;
}
.apEasySell.intro > .section .img {
  position: absolute;
  z-index: 1;
}
.apEasySell.intro .visual {
  padding-top: 3.125rem;
}
.apEasySell.intro .visual::after {
  content: "";
  display: block;
  padding-top: 21.25rem;
}
.apEasySell.intro .visual .tit {
  font-size: 2.125rem;
  font-weight: 200;
  line-height: 2.625rem;
  letter-spacing: -0.0375rem;
  color: #333;
}
.apEasySell.intro .visual .tit strong {
  font-weight: 700;
}
.apEasySell.intro .visual .key01 {
  right: 0;
  bottom: 0;
  width: 17.9375rem;
}
.apEasySell.intro .visual .key02 {
  right: 0;
  bottom: 5rem;
  width: 20.8125rem;
}
.apEasySell.intro .coupon {
  padding-top: 2.5rem;
  padding-bottom: 4.375rem;
  background-color: #2D85FC;
}
.apEasySell.intro .coupon .tag {
  display: block;
  width: 5rem;
  padding: 0.25rem;
  border: 0.0625rem solid #fff;
  border-radius: 0.75rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}
.apEasySell.intro .coupon .tit {
  margin-top: 0.625rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75rem;
  color: #fff;
}
.apEasySell.intro .coupon .tit strong {
  font-weight: 700;
}
.apEasySell.intro .coupon .tit strong span {
  display: inline-block;
  width: 1.875rem;
  text-align: right;
}
.apEasySell.intro .coupon .key01 {
  right: 1.5625rem;
  top: 2.5rem;
  width: 8.625rem;
}
.apEasySell.intro .coupon .couponList {
  margin-top: 2.75rem;
}
.apEasySell.intro .coupon .couponList > li ~ li {
  margin-top: 2.5rem;
}
.apEasySell.intro .coupon .couponList > li ~ li .box .lab {
  background-color: #042281;
}
.apEasySell.intro .coupon .couponList > li strong {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.01875rem;
  color: #fff;
}
.apEasySell.intro .coupon .couponList > li .box {
  margin-top: 1.125rem;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.apEasySell.intro .coupon .couponList > li .box .txt {
  flex: 1;
  padding: 1.25rem 0.625rem 1.25rem 1.25rem;
  border-radius: 0.75rem;
  background-color: #fff;
}
.apEasySell.intro .coupon .couponList > li .box .txt p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell.intro .coupon .couponList > li .box .txt p strong {
  display: inline;
  font-weight: 700;
  color: inherit;
}
.apEasySell.intro .coupon .couponList > li .box .txt .txtList {
  margin-top: 0.9375rem;
}
.apEasySell.intro .coupon .couponList > li .box .txt .txtList li {
  position: relative;
  padding-left: 0.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell.intro .coupon .couponList > li .box .txt .txtList li ~ li {
  margin-top: 0.125rem;
}
.apEasySell.intro .coupon .couponList > li .box .txt .txtList li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 0.125rem;
  height: 0.125rem;
  background-color: #666;
}
.apEasySell.intro .coupon .couponList > li .box .lab {
  position: relative;
  width: 2.8125rem;
  border-radius: 0.75rem;
  background-color: #15C9FF;
}
.apEasySell.intro .coupon .couponList > li .box .lab > div {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4.0625rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  transform: translate(-50%, -50%) rotate(90deg);
}
.apEasySell.intro .coupon.type2 {
  padding-bottom: 3.125rem;
  background-color: #00A05D;
}
.apEasySell.intro .coupon.type2 .tag {
  margin: 0 auto;
}
.apEasySell.intro .coupon.type2 .couponList {
  margin-top: 1.875rem;
}
.apEasySell.intro .coupon.type2 .couponList > li ~ li {
  margin-top: 4.0625rem;
}
.apEasySell.intro .coupon.type2 .couponList > li ~ li .beneImg {
  width: calc(26.875rem / 2);
}
.apEasySell.intro .coupon.type2 .couponList > li ~ li .beneImg::before {
  display: none;
}
.apEasySell.intro .coupon.type2 .couponList > li > strong {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.875rem;
  letter-spacing: -0.01875rem;
}
.apEasySell.intro .coupon.type2 .couponList > li > strong span {
  color: #FFE8A3;
}
.apEasySell.intro .coupon.type2 .couponList > li > p {
  margin-top: 0.625rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.01875rem;
  color: #fff;
}
.apEasySell.intro .coupon.type2 .couponList > li > p b {
  color: inherit;
  font-weight: 800;
}
.apEasySell.intro .coupon.type2 .couponList > li > p span {
  position: relative;
  font-weight: 800;
  color: inherit;
}
.apEasySell.intro .coupon.type2 .couponList > li > p span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 0.0625rem solid #fff;
}
.apEasySell.intro .coupon.type2 .couponList > li .beneImg {
  position: relative;
  z-index: 1;
  width: calc(15.875rem / 2);
  margin: 1.875rem auto 0;
}
.apEasySell.intro .coupon.type2 .couponList > li .beneImg::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 50%;
  z-index: -1;
  width: calc(26.375rem / 2);
  padding-top: 78%;
  background: url("../images/easySell/img_beneEffect.png") no-repeat center/auto 100%;
  transform: translateX(-50%);
}
.apEasySell.intro .coupon.type2 .couponList > li .txtList {
  margin-top: 1.5625rem;
  padding-left: 1.25rem;
}
.apEasySell.intro .coupon.type2 .couponList > li .txtList li {
  position: relative;
  padding-left: 0.25rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.01875rem;
  color: #fff;
}
.apEasySell.intro .coupon.type2 .couponList > li .txtList li ~ li {
  margin-top: 0.125rem;
}
.apEasySell.intro .coupon.type2 .couponList > li .txtList li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 0.125rem;
  height: 0.125rem;
  background-color: #fff;
}
.apEasySell.intro .review {
  padding-top: 3.75rem;
  padding-bottom: 4.25rem;
}
.apEasySell.intro .introduce {
  margin: 3.75rem 0 0;
  padding: 3.125rem 0 0;
  background-color: #F7F7F7;
}
.apEasySell.intro .introduce .tit {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell.intro .introduce .tit span {
  display: block;
  margin: 0 auto 0.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #0096FF;
}
.apEasySell.intro .introduce .introduceWrap {
  margin-top: 1.5625rem;
}
.apEasySell.intro .introduce .introduceWrap .list .inner .txt {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell.intro .introduce .introduceWrap .list .inner .txt span {
  display: inline-block;
  vertical-align: top;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.375rem;
  border-radius: 1.125rem;
  background-color: #0096FF;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #fff;
}
.apEasySell.intro .introduce .introduceWrap .list .inner .img {
  position: static;
  max-width: 16.25rem;
  margin: 0.625rem auto 0;
}
.apEasySell.intro .introduce .introduceWrap .swiper-slide {
  opacity: 0 !important;
}
.apEasySell.intro .introduce .introduceWrap .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}
.apEasySell.intro .introduce .introduceWrap [class*=swiper-button] {
  position: absolute;
  top: 50%;
  left: 1.5625rem;
  width: 0.75rem;
  height: 1.375rem;
  margin-top: 0;
  background: url("../images/easySell/icon_swiperArr.png") no-repeat center/100% auto;
  transition-duration: 0.4s;
}
.apEasySell.intro .introduce .introduceWrap [class*=swiper-button].swiper-button-next {
  left: auto;
  right: 1.5625rem;
  transform: rotate(180deg);
}
.apEasySell.intro .introduce .introduceWrap [class*=swiper-button].swiper-button-disabled {
  opacity: 0;
}
.apEasySell.intro .introduce > p {
  padding: 1.25rem;
  background-color: #292929;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.01875rem;
  color: #fff;
}
.apEasySell.noti {
  padding: 3.125rem 1.5625rem;
  background-color: #F7F9FB;
}
.apEasySell.noti .pageTitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.0125rem;
  color: #000;
}
.apEasySell.noti .section {
  margin-top: 1.25rem;
  padding: 3.125rem 0.75rem 1.875rem;
  border-radius: 0.625rem;
  background-color: #fff;
}
.apEasySell.noti .section ~ .section {
  margin-top: 1.875rem;
}
.apEasySell.noti .section.carChk .tit::before {
  background-image: url("../images/easySell/icon_carChk.png");
}
.apEasySell.noti .section.picChk .tit::before {
  background-image: url("../images/easySell/icon_picChk.png");
}
.apEasySell.noti .section.listChk .tit::before {
  background-image: url("../images/easySell/icon_listChk.png");
}
.apEasySell.noti .tit {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.625rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell.noti .tit::before {
  content: "";
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 auto 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.apEasySell.noti .contTxt {
  margin-top: 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell.noti .contTxt strong {
  font-weight: 700;
}
.apEasySell.noti .examplePic {
  margin-top: 1.25rem;
  font-size: 0;
}
.apEasySell.noti .examplePic li {
  display: inline-block;
  vertical-align: top;
  width: calc((100% - 0.875rem) / 3);
  margin-right: 0.4375rem;
}
.apEasySell.noti .examplePic li:nth-child(3n) {
  margin-right: 0;
}
.apEasySell.noti .examplePic li:nth-child(n+4) {
  margin-top: 1.125rem;
}
.apEasySell.noti .examplePic li .img {
  border-radius: 0.1875rem;
  overflow: hidden;
}
.apEasySell.noti .examplePic li p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 0.875rem;
  letter-spacing: -0.0125rem;
  color: #000;
}
.apEasySell.noti .examplePic + .bottomTxt {
  margin-top: 1.875rem;
}
.apEasySell.noti .checkList {
  margin-top: 1.875rem;
  padding-left: 0.375rem;
}
.apEasySell.noti .checkList li {
  position: relative;
  padding-left: 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.01875rem;
  color: #000;
  word-break: keep-all;
}
.apEasySell.noti .checkList li ~ li {
  margin-top: 1.25rem;
}
.apEasySell.noti .checkList li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  background: url("../images/easySell/icon_checkList.png") no-repeat center/100% auto;
}
.apEasySell.noti .bottomTxt {
  margin-top: 1.25rem;
  padding: 0.75rem 1.25rem;
  border: 0.0625rem solid #ededed;
  background-color: #F6F6F6;
  text-align: center;
}
.apEasySell.noti .bottomTxt strong {
  display: block;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1rem;
  color: #666;
}
.apEasySell.noti .bottomTxt p {
  margin-top: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.01875rem;
  color: #666;
}
.apEasySell.noti .btnWrap {
  margin: 2.5rem 0 0;
  padding: 0;
}
.apEasySell.step {
  padding-top: 8.125rem;
  background-color: #F7F9FB;
  overflow: hidden;
}
.apEasySell.step.botBtn {
  position: relative;
  height: 100%;
}
.apEasySell.step.botBtn .section {
  height: calc(100vh - 7.5rem);
  padding-bottom: 8.75rem;
  overflow-y: auto;
}
.apEasySell.step.botBtn .btnWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.apEasySell.step .pageTitle {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 9.6875rem;
  padding: 2.5rem;
  background-color: #F7F9FB;
}
.apEasySell.step .pageTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5625rem;
  border-radius: 1.5625rem 1.5625rem 0 0;
  box-shadow: 0 -0.1875rem 0.625rem rgba(80, 104, 172, 0.05);
  background-color: #fff;
}
.apEasySell.step .pageTitle.write {
  height: 12.1875rem;
}
.apEasySell.step .btnWrap {
  margin-top: 3.4375rem;
  padding-bottom: 3.125rem;
  background-color: #fff;
}
.apEasySell.step .section {
  position: relative;
  z-index: 1;
  display: none;
  height: auto;
  padding: 4.6875rem 1.5625rem 3.125rem;
  border-radius: 1.5625rem 1.5625rem 0 0;
  box-shadow: 0 -0.1875rem 0.625rem rgba(80, 104, 172, 0.05);
  background-color: #fff;
  overflow: hidden;
}
.apEasySell.step .section .btnWrap {
  padding: 0;
}
.apEasySell.step .section .tit {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.625rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell.step .section .subTit {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.0125rem;
  color: #000;
}
.apEasySell.step .section .subTit strong {
  font-weight: 700;
}
.apEasySell.step .section .subTit.blue {
  margin-bottom: 1.875rem;
  font-weight: 500;
  color: #2580EC;
}
.apEasySell.step .section .addInfo {
  margin-top: 0.625rem;
  padding: 0 3rem;
  text-align: right;
}
.apEasySell.step .section .addInfo.left {
  margin: 2.5rem 0 0;
  padding: 1.25rem 0 0;
  border-top: 1px dashed #ccc;
  text-align: left;
}
.apEasySell.step .section .addInfo.left .question {
  padding: 0 0 0 1.375rem;
}
.apEasySell.step .section .addInfo.left .question::after {
  right: auto;
  left: 0;
}
.apEasySell.step .section .question {
  position: relative;
  padding-right: 1.375rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #666;
}
.apEasySell.step .section .question::after {
  content: "?";
  position: absolute;
  right: 0;
  top: 0;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 100%;
  background-color: #999;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #fff;
}
.apEasySell.step .section .boxTxt {
  margin-top: 3.75rem;
  padding: 1.375rem 1.25rem;
  border-radius: 0.3125rem;
  background-color: #F6F6F6;
}
.apEasySell.step .section .boxTxt strong {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.01875rem;
  color: #666;
}
.apEasySell.step .section .boxTxt p {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.01875rem;
  color: #333;
  word-break: keep-all;
}
.apEasySell.step .section .verifi {
  padding: 0 0.75rem;
}
.apEasySell.step .section .verifi > a {
  display: block;
  margin: 1.875rem auto 0;
  padding: 3.125rem 1.25rem;
  border: 0.0625rem solid #f6f6f6;
  border-radius: 0.3125rem;
  background-color: #fff;
  text-align: center;
}
.apEasySell.step .section .verifi > a img {
  width: auto;
  height: calc(8.625rem / 2);
}
.apEasySell.step .section .verifi > a p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.0125rem;
  color: #000;
}
.apEasySell.step .section .verifi ul {
  margin-top: 1.875rem;
}
.apEasySell.step .section .verifi ul li {
  position: relative;
  padding-left: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.01875rem;
  color: #000;
  word-break: keep-all;
}
.apEasySell.step .section .verifi ul li ~ li {
  margin-top: 0.375rem;
}
.apEasySell.step .section .verifi ul li.red {
  color: #EA0000;
}
.apEasySell.step .section .verifi ul li::before {
  content: "※";
  position: absolute;
  left: 0;
  top: 0;
}
.apEasySell.complete .section {
  display: block;
  overflow: hidden;
}
.apEasySell.complete .section > .tit {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
}
.apEasySell.complete .section > .tit strong {
  font-weight: 700;
}
.apEasySell.complete .section .completeTxt {
  margin: 1.25rem auto 0;
  padding: 1.875rem 0.625rem;
  border: 0.0625rem solid #0096ff;
  border-radius: 0.3125rem;
  background-color: #F4FBFF;
}
.apEasySell.complete .section .completeTxt p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.01875rem;
  color: #0096ff;
}
.apEasySell.complete .section .completeTxt p::before {
  content: "";
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  margin: 0 auto 0.625rem;
  background: url("../images/easySell/emo_smile.png") no-repeat center/100% auto;
}
.apEasySell.complete .section > .review {
  margin-top: 4.375rem;
}
.apEasySell.complete .section > .review .tit {
  text-align: left;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.75rem;
}
.apEasySell.complete .section > .review .subTit {
  margin-top: 0.625rem;
  text-align: left;
  line-height: 1.375rem;
}
.apEasySell.complete .section > .review .allView {
  margin-top: 1.25rem;
}
.apEasySell.complete .section > .review .reviewWrap {
  padding-top: 1.875rem;
}
.apEasySell .carWrite li ~ li {
  margin-top: 2.8125rem;
}
.apEasySell .carInfo .styleInp {
  border-color: #000;
  overflow: hidden;
}
.apEasySell .carInfo .styleInp .inp {
  color: #fff;
}
.apEasySell .carInfo .styleInp .carNum {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: -0.01875rem;
  color: #000;
  opacity: 0;
  text-indent: 3.4375rem;
  animation: fade-in 0s linear 1s forwards, wd-typing 1s steps(40, end) 1s forwards, bk-caret 0.75s step-end infinite;
}
.apEasySell .carInfo li ~ li {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 1.25rem;
}
.apEasySell .carInfo li ~ li:nth-child(2) {
  margin-top: 2.8125rem;
}
.apEasySell .carInfo li ~ li > div {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.01875rem;
  color: #666;
}
.apEasySell .carInfo li ~ li .opt {
  flex: none;
  width: 6.875rem;
}
.apEasySell .carInfo li ~ li .txt {
  flex: 1;
}
.apEasySell .carInfo li ~ li .txt p {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #ccc;
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.apEasySell .carInfo li ~ li .txt p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #EBEBEB;
  opacity: 1;
  transition-duration: 0.4s;
  transition-delay: inherit;
}
.apEasySell .carInfo li ~ li .txt p.show {
  color: #000;
}
.apEasySell .carInfo li ~ li .txt p.show::before {
  opacity: 0;
}
.apEasySell .styleInp {
  position: relative;
  width: 15.625rem;
  height: 3.875rem;
  margin: 1rem auto 0;
  border: 0.125rem solid #0096ff;
  border-radius: 0.3125rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.apEasySell .styleInp::before, .apEasySell .styleInp::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: -0.25rem;
  border-radius: 100%;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.apEasySell .styleInp::after {
  left: auto;
  right: 0.5rem;
}
.apEasySell .styleInp .inp {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  border: 0;
  border-radius: 0;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01875rem;
  color: #0096ff;
}
.apEasySell .styleInp .inp::-moz-placeholder {
  color: #d9d9d9;
}
.apEasySell .styleInp .inp:-ms-input-placeholder {
  color: #d9d9d9;
}
.apEasySell .styleInp .inp::placeholder {
  color: #d9d9d9;
}
.apEasySell .picExam {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.875rem;
}
.apEasySell .picExam li {
  width: calc((100% - 0.875rem) / 3);
  margin-right: 0.4375rem;
}
.apEasySell .picExam li:nth-child(3n) {
  margin-right: 0;
}
.apEasySell .picExam li:nth-child(n+4) {
  margin-top: 1.125rem;
}
.apEasySell .picExam li .img {
  border-radius: 0.1875rem;
  overflow: hidden;
}
.apEasySell .picExam li p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.0125rem;
  color: #000;
}
.apEasySell .attatchPic {
  margin-top: 3.125rem;
}
.apEasySell .attatchPic .picTitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell .attatchPic .picTitle strong {
  font-weight: 700;
}
.apEasySell .attatchPic .picGuide {
  margin-top: 0.375rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.0125rem;
  color: #000;
}
.apEasySell .attatchPic .picGuide strong {
  font-weight: 700;
}
.apEasySell .attatchPic .picCont {
  margin-top: 1.25rem;
  font-size: 0;
}
.apEasySell .attatchPic .picCont li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc((100% - 0.875rem) / 3);
  margin-right: 0.4375rem;
  padding-top: 22%;
  border-radius: 0.1875rem;
  overflow: hidden;
  background-color: #F7F7F7;
}
.apEasySell .attatchPic .picCont li .thumb {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.apEasySell .attatchPic .picCont li .thumb .picDel {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  z-index: 1;
}
.apEasySell .attatchPic .picCont li.addImg {
  display: block;
  margin: 0 auto;
}
.apEasySell .attatchPic .picCont li.addImg button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apEasySell .attatchPic .picCont li.addImg button .thumb {
  position: initial;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.0125rem;
  color: #999;
}
.apEasySell .attatchPic .picCont li.addImg button .thumb::before {
  content: "+";
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  margin: 0 auto 0.3125rem;
  border-radius: 100%;
  background-color: #DBDBDB;
  text-align: center;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
  color: #fff;
}
.apEasySell .attatchPic .picCont li:nth-child(3n) {
  margin-right: 0;
}
.apEasySell .attatchPic .picCont li:nth-child(n+4) {
  margin-top: 7px;
}
.apEasySell .attatchPic .picCont li + .addImg {
  display: inline-block;
  vertical-align: top;
}
.apEasySell .formWrite .fContWrap ~ .fContWrap {
  display: none;
  padding-top: 3.125rem;
}
.apEasySell .formWrite .fCont {
  position: relative;
}
.apEasySell .formWrite .fCont .tit {
  margin-bottom: 2.5rem;
}
.apEasySell .formWrite .fCont .tit.mgbSmall {
  margin-bottom: 1.25rem;
}
.apEasySell .formWrite .fCont .tit.mgbNone {
  margin-bottom: 0.25rem;
}
.apEasySell .formWrite .fCont ~ .fCont {
  padding-top: 3.125rem;
  margin-top: 3.125rem;
}
.apEasySell .formWrite .fCont ~ .fCont::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  border-top: 1px solid #e6e6e6;
  transform: translateX(-50%);
}
.apEasySell .formWrite .fCont .row {
  display: flex;
  align-items: center;
}
.apEasySell .formWrite .fCont .row ~ .row {
  margin-top: 1.25rem;
}
.apEasySell .formWrite .fCont .row .col {
  position: relative;
  flex: 1;
}
.apEasySell .formWrite .fCont .row .col.title {
  flex: 0 5.9375rem;
}
.apEasySell .formWrite .fCont .group {
  position: relative;
  z-index: 1;
  font-size: 0;
}
.apEasySell .formWrite .fCont .group label {
  vertical-align: top;
  margin-right: 0.625rem;
}
.apEasySell .formWrite .fCont .group.child [class*=depth] {
  display: none;
  position: relative;
  margin: 1.25rem 0 0;
  padding: 1.125rem 0.875rem;
  border-radius: 0.3125rem;
  background-color: #fff;
  box-shadow: 0 0.1875rem 1.875rem rgba(80, 104, 172, 0.18);
}
.apEasySell .formWrite .fCont .group.child [class*=depth]:after {
  content: "";
  position: absolute;
  left: 1.875rem;
  top: -1.875rem;
  border: 1.25rem solid transparent;
  border-bottom-color: #fff;
}
.apEasySell .formWrite .fCont .group.child [class*=depth]:nth-child(2)::after {
  left: 50%;
  transform: translateX(-50%);
}
.apEasySell .formWrite .fCont .group.child [class*=depth]:nth-child(3)::after {
  left: auto;
  right: 1.875rem;
  transform: translateX(-50%);
}
.apEasySell .formWrite .fCont .group.child [class*=depth] .radioBtn {
  height: 4.0625rem;
}
.apEasySell .formWrite .fCont .group.grid2 label {
  width: calc((100% - 0.625rem) / 2);
}
.apEasySell .formWrite .fCont .group.grid2 label:nth-child(2n) {
  margin-right: 0;
}
.apEasySell .formWrite .fCont .group.grid2 label:nth-child(n+3) {
  margin-top: 0.625rem;
}
.apEasySell .formWrite .fCont .group.grid3 label {
  width: calc((100% - 24px) / 3);
}
.apEasySell .formWrite .fCont .group.grid3 label [class*=Btn] {
  height: 5rem;
}
.apEasySell .formWrite .fCont .group.grid3 label:nth-child(3n) {
  margin-right: 0;
}
.apEasySell .formWrite .fCont .group.grid3 label:nth-child(n+4) {
  margin-top: 0.625rem;
}
.apEasySell .formWrite .fCont .title {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #000;
}
.apEasySell .formWrite .fCont .exTxt {
  position: absolute;
  top: 0.875rem;
  right: 0.625rem;
  z-index: 1;
  text-align: right;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #000;
  pointer-events: none;
}
.apEasySell .formWrite .fCont .exSub {
  text-align: left;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.01875rem;
  color: #000;
}
.apEasySell .formWrite .fCont .addAmount {
  margin-top: 1.25rem;
  width: 100%;
  height: 3.75rem;
  border: 0.0625rem solid #0096ff;
  border-radius: 0.3125rem;
  background-color: #e6f5ff;
  text-align: center;
}
.apEasySell .formWrite .fCont .addAmount p {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 3.75rem;
  color: #0096ff;
  letter-spacing: -0.01875rem;
}
.apEasySell .formWrite .fCont .addAmount p.empty {
  font-weight: 500;
}
.apEasySell .formWrite .fCont .addAmount p.empty::after {
  content: "";
  display: inline-block;
  vertical-align: -0.4375rem;
  width: 1.625rem;
  height: 1.625rem;
  margin-left: 0.25rem;
  background: url("../images/easySell/emo_smile.png") no-repeat center/100% auto;
}
.apEasySell .formWrite .fCont .addAmount p.total {
  display: none;
}
.apEasySell .formWrite .fCont .addAmount p .amount {
  position: relative;
  display: inline-block;
  min-width: 1.375rem;
  text-align: right;
}
.apEasySell .formWrite .fCont .addAmount p .amount:before {
  content: "+";
  position: absolute;
  left: -0.9375rem;
  z-index: 1;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #0096ff;
}
.apEasySell .formWrite .fCont .addWrite {
  margin-top: 1.5625rem;
}
.apEasySell .formWrite .fCont .userAddFile::after {
  left: 3.75rem !important;
}
.apEasySell .formWrite .fCont .userAddFile > div {
  position: relative;
  padding-right: 5.9375rem;
}
.apEasySell .formWrite .fCont .userAddFile > div .fileFake {
  width: 100%;
  height: 2.8125rem;
  padding: 0.625rem 0.9375rem;
  border: 0;
  background-color: #f7f7f7;
  font-size: 0.8125rem;
}
.apEasySell .formWrite .fCont .userAddFile > div .fileFake.add {
  padding-left: 2.125rem;
}
.apEasySell .formWrite .fCont .userAddFile > div .btnDelete {
  display: none;
  position: absolute;
  left: 0.625rem;
  top: 0.875rem;
  z-index: 1;
  border: 0.0625rem solid #ea0000;
  border-radius: 0;
  background-color: #fff;
}
.apEasySell .formWrite .fCont .userAddFile > div .btnDelete::before, .apEasySell .formWrite .fCont .userAddFile > div .btnDelete::after {
  background-color: #ea0000;
}
.apEasySell .formWrite .fCont .userAddFile > div .btnDelete.active {
  display: block;
}
.apEasySell .formWrite .fCont .userAddFile > div .btnUpload {
  position: absolute;
  right: 0;
  top: 0;
  width: 5.3125rem;
  height: 2.8125rem;
  border-radius: 0.3125rem;
  background-color: #0096FF;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 2.8125rem;
  color: #fff;
}
.apEasySell .formWrite .fCont .userAddFile .exSub {
  margin-top: 0.75rem;
}
.apEasySell .formWrite .inp {
  width: 100%;
  height: 3.125rem;
  padding: 0.875rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #000;
  letter-spacing: -0.01875rem;
}
.apEasySell .formWrite .inp.exRight {
  padding-right: 3.125rem;
}
.apEasySell .formWrite .inp::-moz-placeholder {
  font-weight: 400;
  color: #c9c9c9;
}
.apEasySell .formWrite .inp:-ms-input-placeholder {
  font-weight: 400;
  color: #c9c9c9;
}
.apEasySell .formWrite .inp::placeholder {
  font-weight: 400;
  color: #c9c9c9;
}
.apEasySell .formWrite .inp:focus {
  border-color: #0096ff;
}
.apEasySell .formWrite .radio, .apEasySell .formWrite .check {
  position: relative;
  display: inline-block;
  text-align: center;
}
.apEasySell .formWrite .radioBtn, .apEasySell .formWrite .checkBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.4375rem;
  padding: 0 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #F7F7F7;
  background-color: #F7F7F7;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #999;
  white-space: nowrap;
  transition-duration: 0.4s;
  cursor: pointer;
}
.apEasySell .formWrite .radioOri, .apEasySell .formWrite .checkOri {
  opacity: 0;
  outline: 0;
  position: absolute;
  z-index: -1;
}
.apEasySell .formWrite .radioOri:checked + [class*=Btn], .apEasySell .formWrite .checkOri:checked + [class*=Btn] {
  border-color: #0096ff;
  box-shadow: 0 0.25rem 0.625rem rgba(80, 104, 172, 0.15);
  background-color: #fff;
  color: #0096ff;
  font-weight: 600;
}
.apEasySell .formWrite .txtArea {
  width: 100%;
  height: 11.25rem;
  border: 0.0625rem solid #C5C2C2;
  border-radius: 0.3125rem;
  padding: 1.25rem 0.9375rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #333;
  letter-spacing: -0.01875rem;
}
.apEasySell .formWrite .txtArea::-moz-placeholder {
  color: #999;
}
.apEasySell .formWrite .txtArea:-ms-input-placeholder {
  color: #999;
}
.apEasySell .formWrite .txtArea::placeholder {
  color: #999;
}
.apEasySell .formWrite .txtArea:focus {
  border-color: #0096ff;
}
.apEasySell .formWrite + .btnWrap {
  display: none;
}
.apEasySell .formWrite.complete + .btnWrap {
  display: block;
}
.apEasySell .btnDelete {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
.apEasySell .btnDelete::before, .apEasySell .btnDelete::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 1px;
  background: #fff;
}
.apEasySell .btnDelete::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.apEasySell .btnDelete::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.apEasySell .agreeWrap ul li ~ li {
  margin-top: 0.9375rem;
}
.apEasySell .agreeWrap ul li.all {
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid #666;
}
.apEasySell .agreeWrap .checkbox {
  position: relative;
  display: inline-block;
  text-align: center;
}
.apEasySell .agreeWrap .checkbox input {
  opacity: 0;
  outline: 0;
  position: absolute;
  z-index: -1;
}
.apEasySell .agreeWrap .checkbox input:checked + .lab span {
  border-color: #0096ff;
  background-image: url("../images/easySell/icon_chkbox_chk.png");
  background-color: #0096ff;
}
.apEasySell .agreeWrap .checkbox .lab {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.01875rem;
  color: #333;
  cursor: pointer;
}
.apEasySell .agreeWrap .checkbox .lab span {
  display: inline-block;
  vertical-align: top;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.375rem;
  border-radius: 0.125rem;
  border: 0.0625rem solid #ddd;
  background: url("../images/easySell/icon_chkbox.png") no-repeat center/0.9375rem auto;
  transition-duration: 0.2s;
}
.apEasySell .agreeWrap .all-view {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.01875rem;
  color: #333;
}

.progressBar {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: auto;
  margin: 2.8125rem auto 0;
}
.progressBar .bar {
  position: relative;
  width: 100%;
  height: 0.3125rem;
  border-radius: 0.3125rem;
  background-color: #fff;
}
.progressBar .bar .now {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 0;
  height: 100%;
  border-radius: 0.3125rem;
  background-color: #0096ff;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}
.progressBar .bar .now.act::before {
  left: calc(100% - 2rem);
}
.progressBar .bar .now.act.last::before {
  left: calc(100% - (2rem + 2.5rem));
  transition-delay: 0.5s;
  transition-duration: 0.4s;
}
.progressBar .bar .now::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(100% + 0.25rem);
  width: 2rem;
  height: 0.75rem;
  background: url("../images/easySell/icon_progressCar.png") no-repeat center/100% auto;
}
.progressBar .percent {
  position: absolute;
  right: 0;
  bottom: calc(100% + 0.25rem);
  z-index: 2;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: -0.0125rem;
  color: #0096ff;
}

.loadingWrap .loadingCircle {
  width: 3.75rem;
  height: 3.75rem;
  margin: 0 auto;
}
.loadingWrap p {
  margin: 1.25rem auto 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.125rem;
  color: #000;
}

/* 프로모션 */
/* head */
.promoHead {
  padding: 1.875rem 1.25rem;
}
.promoHead .logoBox {
  font-size: 0;
  text-align: center;
}
.promoHead .logoBox span {
  display: inline-block;
  vertical-align: top;
}
.promoHead .logoBox span img {
  height: calc(2.25rem / 2);
}
.promoHead .logoBox span ~ span {
  position: relative;
  padding-left: 1rem;
  margin-top: -0.25rem;
}
.promoHead .logoBox span ~ span img {
  height: calc(3.4375rem / 2);
}
.promoHead .logoBox span ~ span::before {
  content: "";
  position: absolute;
  left: 0.125rem;
  top: 50%;
  width: 0.625rem;
  height: 0.9375rem;
  margin-top: -0.5625rem;
  background: url("../images/easySell/icon_cross.png") no-repeat center/auto 100%;
}

/* footer */
.promoFooter {
  padding: 2.5rem 1.5625rem 3.125rem;
}
.promoFooter .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
.promoFooter .inner > div:not(.bot) {
  flex: 0 35%;
}
.promoFooter .inner > div:not(.bot) strong {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.375rem;
  letter-spacing: -0.03125rem;
  color: #000;
}
.promoFooter .inner > div:not(.bot) a {
  display: block;
  margin-top: 0.125rem;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: #000;
}
.promoFooter .inner > div:not(.bot) p {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #666;
}
.promoFooter .inner > div:not(.bot).right {
  flex: 0 calc(65% - 0.625rem);
  position: relative;
  margin-left: 0.625rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
}
.promoFooter .inner > div:not(.bot).right::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.0625rem;
  height: 0.75rem;
  margin-top: -0.375rem;
  background-color: #ededed;
}
.promoFooter .inner .bot {
  flex: 0 100%;
  margin-top: 1.25rem;
  padding: 0;
}
.promoFooter .inner .bot a {
  display: block;
  width: 100%;
  height: 3.125rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.03125rem;
  color: #999;
}

.mycar-promotion .apEasySell.intro .section.introduce {
  margin-top: 0;
}
.mycar-promotion .apEasySell.intro .promoFooter {
  padding-bottom: 1.25rem;
}
.mycar-promotion .apEasySell.intro .btnWrap {
  padding-bottom: 3.75rem;
}
.mycar-promotion .apEasySell.noti .promoFooter {
  margin: 0 -1.5625rem;
  padding-bottom: 0;
}
.mycar-promotion .apEasySell.step .section .promoFooter {
  margin: 0 -1.5625rem;
  padding-bottom: 0;
}