@charset "utf-8";
@import 'mixin';

*, *:after, *:before {box-sizing:border-box;text-size-adjust:none;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);-webkit-font-smoothing:antialiased;} 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;word-break:keep-all;word-wrap:break-word;white-space:normal;line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
audio,embed,iframe,img,object,video{max-width:100%;}
img{height:auto;vertical-align:top;}
address,i{font-style:normal;}
em{font-style:inherit;}
a,s{text-decoration:none;color:inherit;}
b,h1,h2,h3,h4,h5,strong,th{font-weight:400;}
:focus{outline:0;}
button,select{text-transform:none;}
button{cursor:pointer;box-sizing:border-box;}
form button,input,optgroup,select,textarea{appearance:none;-moz-appearance:none;margin:0;padding:0;background-color:transparent;border-radius:0;border:0;font-family:inherit;font-size:inherit;letter-spacing:inherit;line-height:inherit;}
input::-ms-clear{display:none;}
select::-ms-expand {display:none;}

body,html{
    font-family: 'Noto Sans KR',Dotum,Gulim,Sans-serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.5px;
    color: #333;
    -webkit-overflow-scrolling: touch
}
html {
    font-size:62.5%;
}
select{
	overflow:hidden;
	white-space:nowrap;
	text-align:left;
}
.pc_hide { 
    display: none !important; 
}
.mo_hide { 
    display: initial !important; 
}

/* animation set */
[data-motion='slide-up'] { 
	transform: translateY(px(40));
	-webkit-transform: translateY(px(40));
	opacity: 0;
}
[data-motion='slide-down'] { 
	transform: translateY(px(-40));
	-webkit-transform: translateY(px(-40));
	opacity: 0;
}
[data-motion='slide-left'] { 
	transform: translateX(px(-40));
	-webkit-transform: translateX(px(-40));
	opacity: 0;
}
[data-motion='slide-right'] { 
	transform: translateX(px(40));
	-webkit-transform: translateX(px(40));
	opacity: 0;
}
[data-motion='scale-up'] {
    text-align: center; 
	transform: scale(.8);
	-webkit-transform: scale(.8);
	opacity: 0.9;
}
[data-motion='scale-down'] { 
    text-align: center; 
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	opacity: 0.9;
}
[data-motion='text-up'] .txt {
	display: inline-block;
	transform: translateY(px(20)) scale(.85);
	-webkit-transform: translateY(px(20)) scale(.85);
	opacity: 0;
}
[data-motion='text-down'] .txt {
	display: inline-block;
	transform: translateY(px(-20)) scale(.85);
	-webkit-transform: translateY(px(-20)) scale(.85);
	opacity: 0;
}

#container {
    padding: px(20);
    .word {
        max-width: px(320);
        margin: 0 auto;
        table {
            width: 100%;
            border: px(1) solid #ccc;
            tbody {
                &.write {
                    tr:not(.addCon):not(.plus) {
                        td span {
                            position: relative;
                            padding-right: px(20);
                            button {
                                right: 0;
                            }
                        }
                    }
                }
                ~ tbody {
                    border-top: px(1) solid #ccc;
                    background-color: #eee;
                    tr td {
                        text-align: right;
                        span {
                            border-color: #fff;
                        }
                    }
                }
                tr {
                    ~ tr {
                        border-top: px(1) solid #ddd;
                    }
                    th, td {
                        padding: px(15);
                    }
                    th {
                        position: relative;
                        border-right: px(1) solid #ddd;
                    }
                    td {
                        span {
                            display: block;
                            height: px(24);
                            border-bottom: 2px solid #eee;
                        }
                        input {
                            width: 100%;
                            height: 100%;
                            text-align: right;
                            &:focus {
                                outline: 1px solid red;
                            }
                        }
                    }
                    button {
                        position: relative;
                        width: px(16);
                        height: px(16);
                        padding: 0;
                        margin: 0;
                        border-radius: px(16);
                        border: px(1) solid #000;
                        font-size: 0;
                        &:before, &:after {
                            content: '';
                            @include pos($p: absolute, $l: 50%, $t: 50%, $z: 1);
                            width: px(10);
                            height: px(2);
                            transform: translate(-50%, -50%);
                            background-color: #000;
                        }
                        &:after {
                            transform: translate(-50%, -50%) rotate(-90deg);
                        }
                        &.del, &.delInp {
                            @include pos($p: absolute, $r: px(10), $t: 50%, $z: 1);
                            transform: translateY(-50%);
                            &:before {
                                transform: translate(-50%, -50%) rotate(45deg);
                            }
                            &:after {
                                transform: translate(-50%, -50%) rotate(-45deg);
                            }
                        }
                        &:focus {
                            outline: 1px solid red;
                        }
                    }
                    .flex {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        .f-col {
                            flex: 1;
                            ~ .f-col {
                                flex: none;
                                margin-left: px(20);
                            }
                        }
                    }
                    &.addCon {
                        td {
                            input {
                                display: inline-block;
                                vertical-align: middle;
                                height: px(24);
                                border-bottom: 2px solid #eee;
                            }
                            button {
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                    &.plus {
                        background-color: #eee;
                        td span {
                            border-color: #fff;
                        }
                    }
                    &.etc {
                        background-color: #000;
                        span {
                            border: 0;
                            line-height: px(24);
                            color: #fff;
                        }
                    }
                }
            }
        }
        .writeBtn, .resultBtn {
            display: block;
            width: 100%;
            max-width: px(200);
            margin: px(30) auto 0;
        }
    }
}