$path: '../images/';

@function px($pixels) {
    @return calc(($pixels) / 16) + rem;
}

@mixin font-hide(){
	font-size: 0; 
	line-height: 0;
	letter-spacing: px(-999);
	text-indent: px(-999);
	color: var(--color-transparent);
}

@mixin font($f: null, $s: null, $w: null, $l: null, $c: null, $t : null, $a: null) {
	font-family: $f;
	font-size: $s;
	font-weight: $w;
	line-height: $l;
	color: $c;
	letter-spacing: $t;
	text-align: $a;
}

@mixin dot($w: null, $h: null, $t: null, $l: null, $c: null) {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: $t; 
		left: $l;
		@if $t == 50% {
			margin-top: calc(-1 * (#{$h} / 2))
		}
		width: $w; 
		height: $h;
		border-radius: $w;
		background: $c;
	}
}

@mixin par($w: null, $h: null, $t: null, $r: null, $b: null, $l: null, $c: null) {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: $t; 
		right: $r;
		bottom: $b;
		left: $l;
		@if $t == 50% {
            margin-top: calc(-1 * (#{$h} / 2));
		} @else if $b == 50% {
			margin-bottom: calc(-1 * (#{$h} / 2))
		}
		width: $w; 
		height: $h;
		background: $c;
	}
}

@mixin pos($p: null,$l: null,$r: null,$t: null,$b: null,$z: null) {
    position: $p;
    left: $l;
    right: $r;
    top: $t;
    bottom: $b;
    z-index: $z;
}

@mixin bgImg($n: null, $r: null, $p: null, $s: null , $c: null){
	background-image: url($path + $n);
	background-repeat: $r;
	background-position: $p;
	background-size: $s;
	background-color: $c;
}
