*, *:after, *:before {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

audio, embed, iframe, img, object, video {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

address, i {
  font-style: normal;
}

em {
  font-style: inherit;
}

a, s {
  text-decoration: none;
  color: inherit;
}

b, h1, h2, h3, h4, h5, strong, th {
  font-weight: 400;
}

:focus {
  outline: 0;
}

button, select {
  text-transform: none;
}

button {
  cursor: pointer;
  box-sizing: border-box;
}

form button, input, optgroup, select, textarea {
  appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

body, html {
  font-family: "Noto Sans KR", Dotum, Gulim, Sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #333;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

select {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.pc_hide {
  display: none !important;
}

.mo_hide {
  display: initial !important;
}

/* animation set */
[data-motion=slide-up] {
  transform: translateY(4rem);
  -webkit-transform: translateY(4rem);
  opacity: 0;
}

[data-motion=slide-down] {
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  opacity: 0;
}

[data-motion=slide-left] {
  transform: translateX(-4rem);
  -webkit-transform: translateX(-4rem);
  opacity: 0;
}

[data-motion=slide-right] {
  transform: translateX(4rem);
  -webkit-transform: translateX(4rem);
  opacity: 0;
}

[data-motion=scale-up] {
  text-align: center;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  opacity: 0.9;
}

[data-motion=scale-down] {
  text-align: center;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  opacity: 0.9;
}

[data-motion=text-up] .txt {
  display: inline-block;
  transform: translateY(2rem) scale(0.85);
  -webkit-transform: translateY(2rem) scale(0.85);
  opacity: 0;
}

[data-motion=text-down] .txt {
  display: inline-block;
  transform: translateY(-2rem) scale(0.85);
  -webkit-transform: translateY(-2rem) scale(0.85);
  opacity: 0;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 20px 30px;
  box-sizing: border-box;
  text-align: center;
}
#header .side-allmenu-btn {
  position: absolute;
  right: 3rem;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 25px;
  padding: 5px;
  font-size: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
#header .side-allmenu-btn span {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.6s;
}
#header .side-allmenu-btn span.line1 {
  top: 5px;
}
#header .side-allmenu-btn span.line2 {
  top: 50%;
  margin-top: -1px;
  opacity: 1;
}
#header .side-allmenu-btn span.line3 {
  bottom: 5px;
}
#header .side-allmenu-btn.open span {
  background-color: #000;
}
#header .side-allmenu-btn.open span.line1 {
  transform: rotate(225deg);
  top: 12px;
}
#header .side-allmenu-btn.open span.line2 {
  transform: translateX(-30px);
  opacity: 0;
}
#header .side-allmenu-btn.open span.line3 {
  transform: rotate(-225deg);
  bottom: 11px;
}

#container .text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 0.2rem;
  text-align: center;
}

.side-allmenu-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 0;
  overflow: hidden;
  background-color: #aaa;
  transition-duration: 0.6s;
}
.side-allmenu-wrap .side-allmenu-inner {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  padding: 100px;
  box-sizing: border-box;
}
.side-allmenu-wrap .side-allmenu-inner .allMenu {
  display: inline-block;
}
.side-allmenu-wrap .side-allmenu-inner .allMenu li {
  display: block;
  margin-bottom: 10px;
}
.side-allmenu-wrap .side-allmenu-inner .allMenu li p {
  display: inline-block;
  font-size: 20px;
  color: #000;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  cursor: pointer;
}
.side-allmenu-wrap .side-allmenu-inner .allMenu li.active {
  font-weight: 900;
}
.side-allmenu-wrap .side-allmenu-inner .allMenu li.active p:after {
  width: 100%;
}
.side-allmenu-wrap .side-allmenu-inner .allMenu li:last-child {
  margin-bottom: 0;
}
.side-allmenu-wrap.open {
  width: 100%;
}

.side-progressbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 3px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.side-progressbar span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  transition-duration: 0.6s;
}